

  <div  class="main">

    <form [formGroup]="initForm" (ngSubmit)="onSave()">
      <div class="sub_main">
        <label  for="first-name">Title: </label><br>
        <input class="lab" id="first-name" type="text" formControlName="title">
        <br><br>
        <label class="lab" for="last-name">Description: </label><br>
        <input id="last-name" type="text" formControlName="description"><br><br>

        <h2>Category</h2>

        <div formArrayName="categories" *ngFor="let item of arrayCategory.controls; let i = index;">
          <div [formGroupName]="i">
            <label for="street">Street: </label><br>
            <input class="lab"  type="text" formControlName="street"><br>

            <label for="city">City: </label><br>
            <input class="lab"  type="text"  formControlName="city"><br>

            <label for="state">State: </label><br>
            <input class="lab"  type="text"  formControlName="state"><br>

            <label for="zip">Zip Code: </label><br>
            <input class="lab"  type="text"  formControlName="zip"><br>
          </div>
          <hr>
        </div>


        <button type="button" (click)="addCat()">+ Add Category</button>
        <button type="button" (click)="removeCat()">- Remove Category</button>

        <button type="submit">Submit</button>
      </div>

    </form>

    {{ data | json }}

</div>
